.urunler {
  background-color: #282c34;
  color: white;
  min-height: 100vh;
  font-size: calc(10px + 2vmin);
}

.urunler-header {
  display: flex;
  text-align: center;
  flex-direction: column;
}

.urunler-area {
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.urunler-btn {
  margin-left: 10px;
}

.btn {
  font-size: 18px;
}

h1 {
  margin: 0px;
  margin-top: 15%;
}

h3 {
  color: gray;
}

p {
  margin: 0px;
}